@import "tailwindcss";

@font-face {
  font-family: VT323;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/VT323-Regular.woff2") format("woff2");
}
@font-face {
  font-family: Roboto Flex;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.woff2")
    format("woff2");
}

@theme {
  --breakpoint-xs: 20rem;
  --font-roboto-flex: "Roboto Flex", sans-serif;
  --font-pixel: "VT323", monospace;
  --color-gold: #feba17;
  --color-primary: oklch(43.2% 0.095 166.913);
  --color-goldhover: #feb917e2;
}
