@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@import "tailwindcss";

@theme {
  --font-roboto-flex: "Roboto Flex", sans-serif;
  --font-pixel: "VT323", monospace;
  --color-primay: ;
}

/* @custom-variant dark (&:where(.dark, .dark *)); */

@config "../../tailwind.config.js";
