@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@import "tailwindcss";

@theme {
  --breakpoint-xs: 20rem;
  --font-roboto-flex: "Roboto Flex", sans-serif;
  --font-pixel: "VT323", monospace;
  --color-gold: #feba17;
  --color-primary: oklch(43.2% 0.095 166.913);
  --color-goldhover: #feb917e2;
}

/* @custom-variant dark (&:where(.dark, .dark *)); */

@config "../../tailwind.config.js";
